* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: black;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
/*start nav*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;

  height: 8vh;
  width: 100%;
  color: gray;
  background-color: transparent;
  padding: 0 50px;
  font-family: "Lobster", cursive;
  font-size: large;
}
nav:hover {
  background-color: #2f584b;
 
  transition: ease-in-out 2s;
}
.rightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 3rem;
  list-style: none;
  flex-direction: row;
  
}
nav a {
  color: gray;
  text-decoration: none;
  transform: translateY(-50%);
}
.rightNav a:active {
  color: white;
}
.nameNav:hover {
  color: white;
}
.rightNav :hover {
  color: white;
}
.right-sidenav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 50%;
}
.nameNav {
  font-size: x-large;
}
.hamburger-menu {
  height: 2rem;
  width: 2rem;
  background-color: black;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  border: 1px solid white;
}

.kid {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #2f584b;
  border-radius: 20%;
}
.first {
  animation-name: move;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 2;
  position: absolute;
}
.secend {
  animation-name: move-secend;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 2;
  position: absolute;
}
.thirth {
  display: none;
}

@keyframes move-secend {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes move {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-60deg);
  }
}

/*finish nav*/
/*start main*/
.container {
  padding: 0 100px;
  width: 100%;
  height: 92vh;
}

.info-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: inherit;
  position: relative;
  width: 100%;
  
  
 
}
.info-section img {
  position: absolute;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  
}
.info-section p {
  font-size: 15px;
  
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  z-index: 1;
  
  

  height: 40%;
  width: 30%;
  font-size: 2.5rem;
  color: snow;
  cursor: pointer;
  
}

.aboutMEText {
  font-size: 1.5rem;
}
.moreText {
  display: none;
}
.left-side input {
  width: 10rem;
  border: 2px;
  height: 2rem;
  border: 3px solid #087a61;
  background-color: transparent;
}
h1 i {
  background-color: transparent;
  color: white;
  height: 2rem;
}
.right-side {
  height: 100%;
  width: 40%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
.right-side img {
  height: 35vh;
  width: 20vw;
  background-color: black;
  border-radius: 50%;
  opacity: 0.7;
}
.nameInMain,
.left-side input {
  color: #087a61;
  font-family: "Lobster", cursive;
}
.skills-section,
.mywork-section,
.contact-section {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  font-family: "Lobster", cursive;
  font-size: 20px;
  color: white;
}
.skills-section {
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.codeAni-left {
  position: absolute;
  top: 15rem;
  left: 8rem;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-name: move-left;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}
@keyframes move-left {
  from {
    color: white;
    transform: rotate(0deg);
  }
  to {
    color: #087a61;
    transform: rotate(180deg);
  }
}
.codeAni-right {
  position: absolute;
  bottom: 15rem;
  right: 8rem;
  animation-duration: 3s;
  
  animation-timing-function: ease-in-out;
  animation-name: move-right;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-play-state: running;
  animation-direction: normal;
}
@keyframes move-right {
  from {
    color: #087a61;

    opacity: 0.5;
  }
  to {
    color: white;

    opacity: 1;
  }
  0% {
    top: 5rem;

  }
  15% {
    top:10rem;
  }
  30% {
    top:15rem
  }
 45% {
   top: 30rem;
 }
 60% {
  top: 40rem;
}
80% {
  top: 45rem;
}
100% {
  top: 40rem;
}
   }

  



.used,
.toLearn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  width: 50%;
  padding: 10px;
}
#HtmlLogo {
  color: orangered;
}
#cssLogo {
  color: #2965f1;
}
#jsLogo {
  color: #f0db4f;
}
#bootstrapLogo {
  color: #553c7b;
}
#sassLogo {
  color: #cd6799;
}
#reactLogo {
  color: #61dbfb;
}
#nodejsLogo {
  color: #3c873a;
}
#linkedin {
 
  color: #0077B5;
  
}

.mywork-section {
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.mywork-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  height: 80vh;

  position: relative;
}
.mywork-img img {
  width: 30rem;
  height: 18rem;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #2f584b;

  z-index: 0;
}
.mywork-img img:hover {
  
  transition: ease-in-out 2s;
  width: 50rem;
  height: 25rem;
  padding: 5px;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  text-align: center;
}
.contact-section form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 20rem;
  width: 23rem;
  border: gray 1px solid;
  padding: 8px;
  align-items: center;
  color: white;
}
.contact-section form input {
  height: 2rem;
  width: 20rem;
  color: white;
  background-color:transparent;
  border: #087a61;
  border: gray 1px solid;
}
.contact-section ::placeholder {
  color: #087a61;
  border: white;
}
.contact-section form input:hover {
  height: 2.5rem;
  width: 21rem;
  font-size: large;
  
}
.contact-section h1 {
  font-size: 35px;
}
footer {
  width: 35vw;
  height: 6rem;
  
  display: flex;
  justify-content: center;

}
.footerLogos {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#facebook {
  color: #4267B2;
}
#twitter {
  color: #1DA1F2;
}
#instagram { width:60px; height:60px;
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 

  }


@media only screen and (max-width: 1024px) {
  .container {
    padding: 0;
    
  }
  body {
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .rightNav {
    display: none;
    height: 60vh;
    width: 30%;
    
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right:rem;
    top: 120%;
  }
  nav {
    justify-content: space-between;
    width: 100vw;
  }
  .rightNav li {
    width: 6rem;
    text-align: center;
    border-radius: 15px;
   
  }
  .right-sidenav {
    justify-content: center;
   
  }

  .rightNav li {
    border: 1px solid white;
  }

  .hamburger-menu {
    display: flex;
  }
  .mywork-img img {
    width: 10rem;
    height: 9rem;
    padding: 3px;
  }
  .used,
.toLearn {
  padding: 0px;
  width: 80%;
}
.used i ,.toLearn i {
  font-size: 28px;
}
footer {
  text-align: center;
  
  width: 20rem;
}
.footerLogos {
  
  width: 20rem;
  font-size: 12px;
}
#instagram { width:40px; height:36px;}
#coding-img {
  display: none;
}
.codeAni-left ,.codeAni-right {
  display: none;
}
}
