* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: #011a07;
}
html {
  scroll-behavior: smooth;
}
/*start nav*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  height: 8vh;
  width: 100%;
  color: gray;
  background-color: black;
  padding: 0 50px;
  font-family: "Lobster", cursive;
  font-size: large;
}
.rightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 3rem;

  list-style: none;
}
nav a {
  color: gray;
  text-decoration: none;
  transform: translateY(-50%);
}
.nameNav:hover {
  color: #2f584b;
}
.rightNav :hover {
  color: #2f584b;
}
.nameNav {
  font-size: x-large;
}
.hamburger-menu {
  height: 2rem;
  width: 2rem;
  background-color: black;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  


}
.kid {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #2f584b;
  border-radius: 10%;
  
}

/*finish nav*/
/*start main*/
.container {
  padding: 0 100px;
  width: 100%;
  height: 92vh;
}
.info-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
  
  
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  


  height: 40%;
  width: 20%;
  font-size: 2.5rem;
  color: snow;
  cursor: context-menu;
}
.right-side {
  
  height: 40%;
  width: 25%;
  text-align: center;
}
.right-side img {
  height: 35vh;
  width: 20vw;
  background-color:black;
  border-radius: 50%;
}
.nameInMain {
  color: #087a61;
  font-family: "Lobster", cursive;
}
.skills-section,.mywork-section,.gallery-section {
  width: 100%;
  height: 100vh;
  border: 1px white solid;
}
@media only screen and (max-width: 1024px) {
  .container {
    padding: 0;
  }
  .rightNav {
    display: none;
}
  .hamburger-menu {
    display: flex;
  }
}

  

